.main-content-container {
  overflow: hidden;

  .row {
    margin: 0px;
  }
}

.terminal-container {
  background-color: black;
  display: flex;
}

#main-navbar {
  background-color: #0c1e35;

  .navbar-brand {
    text-transform: uppercase;
    padding-left: 10px;
  }

  .container {
    flex-direction: row !important;
  }
}



@media (max-width: 768px) {
  main {
    overflow: auto !important;
  }

  .main-content-container {
    overflow: auto;
    height: 100% !important;
  }

  .terminal-container {
    display: none;
  }

  .gutter {
    display: none;
  }

  .col, .row {
    height: fit-content !important;
  }
}

@media (min-width: 768px) {
  .main-content-container {
    .col {
      height: 100%;
    }
  }

  .card-body {
    overflow-y: auto;
    padding: 0 !important;
  }

  #main-navbar {
    display: none;
  }
}

.card-output-description {
  height: calc(25% + 0.5rem);
}
